@font: #4D5766;
@bg-color: #FFF;
@bg-color-box1: #C5FAE5;
@bg-color-box2: #A8DCE3;
@btn-bg-color: #E1FFBD;
@btn-font-color: #374A38;
@font-size: 1.5em;
@border-radius: 2rem;

body {
  background-color: @bg-color;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: @font-size;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: @font;
}

#error {
  padding: 20px;
  background-color: #f44336;
  color: white;
  position: absolute;
  top: 10px;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 600px;
  z-index: 10;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

header{
  text-align: center;
  margin-top: 0;
}

h1{
  font-weight: normal;
  font-size: @font-size + 2;
}

h2{
  margin: 0;
}

h3{
  font-weight: normal;
  margin: 0;
}

.site-button{
  background-color: @btn-bg-color;
  color: @btn-font-color;
  font-size: @font-size - 0.5;
  height: 3rem;
  align-self: flex-end;
  border-radius: @border-radius - 1;
}

.container{
  display: flex;
  justify-content: space-around;
}

.events-page{
  background-color: @bg-color-box1;
  width: 40%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: @border-radius;
}

.events-categories{
  background-color: @bg-color-box2;
  flex-grow: 2;
  border-radius: @border-radius;
  padding-right: 2rem;
}

#guests{
  display: none;
}