@font: #4D5766;
@bg-color: #FFF;
@bg-color-box1: #C5FAE5;
@bg-color-box2: #A8DCE3;
@btn-bg-color: #E1FFBD;
@btn-font-color: #374A38;
@font-size: 1.5rem;
@border-radius: 2rem;
@margin-1: 1rem;
@padding-2: 2rem;

@max1023: (max-width: 1023px);

body {
  background-color: @bg-color;
  padding-left: @padding-2;
  padding-right: @padding-2;
  font-size: @font-size;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: @font;
}

#error {
  padding: 20px;
  background-color: #f44336;
  color: white;
  position: absolute;
  top: 10px;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 600px;
  z-index: 10;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

header{
  text-align: center;
  margin-top: 0;
}

h1{
  font-weight: normal;
  font-size: @font-size + 2;
  margin-bottom: @margin-1;
}

h2{
  margin: 0;
  margin-bottom: @margin-1;
}

h3{
  font-weight: normal;
  margin: -1rem 0;
}

form{
  display: flex;
  width: 100%;
  flex-direction: column;
  div {
    display: flex;
    @media @max1023 {
      flex-direction: column;
    }
    label{
      flex-grow: 1;
    }
    input, select {
      flex-grow: 2;
    }
  }
}

input[type=text], input[type=datetime-local], select{
  padding: 0.6rem;
  margin-left: 0.5rem;
  margin-bottom: @margin-1;
  display: inline-block;
  border: 0;
  border-radius: @border-radius;
  box-sizing: border-box;
  font-size: @font-size - 0.2;
  background: @bg-color;
}

input[type=checkbox]{
  height: 2rem;
}

.site-button{
  background-color: @btn-bg-color;
  color: @btn-font-color;
  font-size: @font-size;
  height: 3rem;
  align-self: flex-end;
  border-radius: @border-radius - 1;
  cursor: pointer;
}

.site-button:disabled{
  color: @bg-color;
  background-color: @bg-color;
  border-color: @bg-color;
  display: contents;
  cursor: default;
}

.site-button:hover,
.site-button:not(.disabled):hover{
  background-color: @bg-color-box1;
}

#divInsertEventButton{
  display: flex;
  justify-content: space-around;
}

#insertGuestsButton{
  float: right;
}

.container{
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.box{
  background-color: @bg-color-box1;
  width: 60%;
  margin-bottom: 1.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: @border-radius;
  margin-left: auto;
  margin-right: auto;
}

.events-page{
  width: 40%;
}

.events-categories{
  background-color: @bg-color-box2;
  flex-grow: 2;
  border-radius: @border-radius;
  padding-right: @padding-2;
}

#insertGuestsSection{
  h3{
    margin-top: -@margin-1;
    margin-bottom: @margin-1;
  }
}
